#one {
    /*height: 10%;*/
    width: 50%;
    float: right;
}
.hi {
    text-align: center;
}
#two {
    height: 50%;
    width: 50%;
}
#ip {
    background-image: url("http://media1.gameinformer.com/imagefeed/screenshots/HyruleWarriors/WiiU_HyruleWarriors_char01_E3.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
}
hr {
  border-color: black;
}
#three {
    height: 50%;
    width: 50%;
}
.container {
    margin: 0 auto;
    width: 960px;
}
h1 {
    text-decoration: underline;
    color: red;
}
h1:hover {
   color: black;
}
a {
    color: red;
}
.active {
    font-weight: 200;
}
td  {
    
    border-style: solid;
    border-width: 2px;
    border-bottom:2px solid;
    padding: 3px;
}
table {
   border-collapse: collapse; 
}
th, tr, td  {
    border: 2px solid black; 
    
}
iframe {
    width: 100%;
    height: 560px;
}
.black {
    color: black;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin-right: -960px;
}
nav li{
    float: left;
    
}
#mm {
    margin: 0 auto;
    width: 50%;
    height:60px;
}
nav a {
    margin: 10px;
}
video {
    width: 100%;
    height: 560px;
}
ol ul li {
    margin-left: 50px;
}
#po {
   float: left;
}
h3 {
    text-align: center;
}
#as {
  width: 50%;
  height: 50%;
  float: right;
}
#derp {
  width: 50%;
  height: 50%;
  float: left;
}
#sup {
  color: blue;
}
#we {
  border-bottom: solid black 2px;
}
.container > p, li {
  text-shadow: 1px 1px red;
}
#id {
   background-image: url(http://www.zeldadungeon.net/wiki/images/e/ef/Hyrule_Warriors_English_Logo.png);
   background-repeat: no-repeat;
   margin: 0 auto;
}
.ia {
  background-image: url("http://orig00.deviantart.net/3d74/f/2014/179/a/d/link__hyrule_warriors__wallpaper___color_by_machriderz-d7oect2.png");
  background-size: 1800px 1420px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.bob {
  width: 50%;
}
@media screen and (max-width: 600px) {
  body {
      background-color: lightblue;
      font-size: .75em;
}
}
.ef {
  opacity: 0!important;
}
#ty {
  width: 500px;
  
}

#back-to-top {
  position: fixed;
  display: block;
}
#fg {
  float: left;
}
#qw {
  float: right;
}